.tree {
    display: inline-block;
    border: 3px solid #000;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.tree > svg {
    /* line-height: 1; */
    display: block;
}

.tree__node {
    stroke: none;
}

.tree__node--back {
    fill: #fff;
    filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .7));
}
.tree__node--top {
    fill: none;
    cursor: pointer;
    pointer-events: all;
}

.tree__link {
    stroke-width: 2px;
    fill: none;
    stroke: #115f11;
}

.tree__pair-midpoint {
    fill: #115f11;
}
